<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>USI-CASINO</title>
    <link rel="stylesheet" href="../css/landingpage.css">
    <link rel="stylesheet" href="../css/opening.css" />
    <link rel="icon" href="../images/usicoin.png" type="image/x-icon"/>
    <style media="screen,print">
      @font-face {
          font-family: 'Inter';
          src: url(../font/Inter.ttf);
      }
  </style>
</head>

<body>

    <div class="container">


        
        <div class="header">
          <img src="../images/indexImages/logo.png" alt="Logo" class="logo">


          

          
        </div>

        <p class="text" id="capt" >Welcome to USI Casino: Elevate Your Gaming Experience!</p>

        <p class="text">
            Are you ready to embark on a thrilling journey where entertainment meets 
            responsible gaming? Look no further! Introducing USI Casino, where we redefine 
            the online gambling experience, allowing you to enjoy your free time without 
            the worry of losing your assets.
        </p>


        <p class="text">Why USI Casino?</p>



        <div class="main">
      
          <div class="item">
            <img src="../images/usicoin.png" alt="picture">
            <div class="description">
              <p class="label">Risk-Free Enjoyment:</p>
              <p class="innertext">
                At USI Casino, we prioritize your enjoyment without compromising your assets. Also
                we use our own curency - USI coins.
                Say goodbye to the fear of losing big – our platform ensures a risk-free 
                environment for you to indulge in the excitement of gambling.
              </p>
            </div>
          </div>
      
          <div class="item">
            <img src="../images/landingPage/252.png" alt="picture">
            <div class="description">
                <p class="label">Diverse Gaming Options:</p>
                <p class="innertext">
                  Immerse yourself in a world of variety with our selection of four different  
                  gambling games. Whether you're a fan of classic card games, thrilling slots, or
                   strategic table games, we have something for everyone. Our diverse portfolio guarantees
                    endless entertainment tailored to your preferences.
                </p>
            </div>
          </div>
      
          <div class="item">
            <img src="..//images/landingPage/wheel.png" alt="picture">
            <div class="description">
                <p class="label">Joyful Mini Games:</p>
                 <p class="innertext">
                    Experience the joy of gaming within the game! USI Casino takes it a step further by 
                    integrating delightful mini-games that add an extra layer of fun to your overall gaming
                    experience. It's not just about winning – it's about relishing every moment.
                </p>
            </div>
          </div>
      
          <div class="item">
            <img src="../images/landingPage/antivirus.png" alt="picture">
            <div class="description">
                <p class="label">Seamless User Experience:</p>
                <p class="innertext">
                  Our user-friendly interface ensures a smooth and hassle-free navigation, 
                  allowing you to focus on what matters most – enjoying the games. Whether you're a 
                  seasoned gambler or a first-timer, USI Casino is designed to cater to all levels of expertise.
                </p>
            </div>
          </div>

          <div class="item">
            <img src="../images/landingPage/responsive.png" alt="picture">
            <div class="description">
                <p class="label">Responsible Gaming:</p>
                <p class="innertext">
                  We understand the importance of responsible gaming. USI Casino promotes a safe and accountable 
                  gambling environment. Set your limits, stay in control, and make the most of your leisure time 
                  without any regrets.
                </p>
            </div>
          </div>
        </div>




        <p class="text">Ready to Roll the Dice? Sign Up Now!</p>

        <p class="text">
            Join USI Casino today and unlock a world of entertainment like never before. 
            Our platform is designed for enthusiasts who seek the perfect balance between excitement
             and responsibility. Don't miss out on the fun – sign up now and let the games begin!
        </p>

        <form action="/registration" method="GET">
            <button id="sign-up">Sign Up!</button>
        </form>


        <p class="text">USI Casino – Where Entertainment Meets Responsibility.</p>







        <p class="dev">Developers:</p>

        <div class="dev-images">


            <img class="image" src="../images/landingPage/max.jpg" alt="picture">

            <img class="image" src="../images/landingPage/polad.png" alt="picture">

            <img class="image" src="../images/landingPage/nikita.png" alt="picture">

            <img class="image" src="../images/landingPage/masha.png" alt="picture">

            <img class="image" src="../images/landingPage/ivan.png" alt="picture">


        </div>
        

      </div>
      
      

</html>