<div class="result">
    <p style="color: goldenrod;">Credit: <span id="creditsDisplay"><%= credit %></span></p>
    <p style="color: white;" id="winNumber"><%= winNumber %> : winNumber</p>
    <p style="color: white;" id="winAmount">winAmount: <%= winAmount %></p>
</div>